<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
	<div class="container"> 
		<div class="registrazione-container">
			<a href="/registrazione"><button class="btn-registrazione"> Registrazione </button></a>
		</div>
		<div class="report-container">
			<a href="/report"><button class="btn-report"> Report </button></a>
		</div>
	</div>


</body>
</html>