<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
   
    <title>Registrazione</title>
</head>
<body>
	<form action="/admin/register" method="post">
			  <h3>Registrazione Docente</h3><br>
			  
				  	<label for="fname">Nome:</label>
				  	<input type="text" name="nome" placeholder= "Nome">
	 		    
	 		    	
				  	<label for="lname">Cognome:</label>
				  	<input type="text" name="cognome"placeholder= "Cognome">
				
				
				  	<label for="email">Email:</label>
				  	<input type="text" name="email"placeholder= "Email">

					<select class="form-control" id="ruolo" name="ruolo" required>
                           <option th:each="r:${ruolo}" th:value="${r.idruolo}" th:text="${r.ruolo}" ></option>
                    </select>
                    <!-- Ho tolto il tag form, ma non so se c'è bisogno per il captcha -->
                    <div class="form-group row">
                      <div class="g-recaptcha" data-sitekey="6LfOIysjAAAAAEoBl8tDQvc_7qtOb-2z3cm1sX-p"></div>
                     </div>
                     
			  		<div class="login-btn">
	                   <button class="btn-lgn" type="submit" value="Registrati"> Registrati </button>
	    			</div>
			 
			  	<!--  Success message -->
				<br>
				<div th:if="${param.success}">
					<div class="alert"> Grazie per esserti registrato! </div>
					<div class="alert"><a href="/loginD">Tornare alla pagina login?</a></div>
				</div>
				<br>
				
	</form>
    
                    
 
    
      <script type="text/javascript">
        var onloadCallback = function() {
          alert("grecaptcha is ready!");
        };
      </script>
   
  

     
      
</body>
</html>




