<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
	<table class="details-table">
		<tr>
            <th>Domanda</th>
            <th>Totale dei Voti</th>
            <th>Media</th>

       </tr>
       
	        <tr th:each="s: ${stats}">
            <td th:text="${s.domanda}"></td>
            <td th:text="${s.totale}"></td>
            <td th:text="${s.media}"></td>

        </tr>
  	</table>
<script>
		
		
		
		
</script>
</body>
<style>

</style>
</html>
