<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
</head>
<body>
	<div align= "center" class="box-modulo">
		<th:block th:each="feedback : ${feedback}">	
		    			<tr>
			         		<td th:text="${feedback.modulo.modulo}"></td>
			         		<td th:text="${feedback.voto}"></td>
			         		<td th:text="${feedback.utente.nome}"></td>
			         		<td th:text="${feedback.domanda.domanda}"></td>
			      		</tr>
			</tbody>
		</th:block> 
	</div>
</body>
</html>