<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sondaggio</title>
</head>
<body>

  
  	<div class="title-container">
  		<div class="title">
  			<p> Sondaggio </p>
  		</div>
  	</div>
  	<div class="form">
	  	<form action="/studente/sondaggio" method="post" >
			<div th:each="domanda : ${domanda}" class="input-box">		
			<h2 th:text=${domanda.domanda}></h2> 
				<span class="details"> Risposta: </span>
				<div>
				  <label>
				    <input type="checkbox" class="radio" value="1" name="voto[1][]" />1</label>
				  <label>
				    <input type="checkbox" class="radio" value="1" name="voto[1][]" />2</label>
				  <label>
				    <input type="checkbox" class="radio" value="1" name="voto[1][]" />3</label>
				  <label>
				    <input type="checkbox" class="radio" value="1" name="voto[1][]" />4</label>
				  <label>
				    <input type="checkbox" class="radio" value="1" name="voto[1][]" />5</label>
				</div>
            </div> 
	
	    
	
	    
	    	<button type="submit" class="btn">Invia il sondaggio</button>
	  	</form>
	 </div>


      
</body>
</html>
