<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sondaggio</title>
</head>
<body>

  
  	<div class="title-container">
  		<div class="title">
  			<p> Sondaggio </p>
  		</div>
  	</div>
  	<div class="form">
	  	<form action="/studente/sondaggio" method="post" >
			<div th:each="domanda : ${domanda}" class="input-box">		
			<h2 th:text=${domanda.domanda}></h2> 
				<div class="input-box">		
						<span class="details"> Risposta: </span>
						<select class="form-control" id="voto" name="voto" required>
	                           <option th:each="" th:value="" text="" ></option>
	                    </select>
		            </div>
	
	    
	
	    
	    	<button type="submit" class="btn">Invia il sondaggio</button>
	  	</form>
	 </div>


      
</body>
</html>
