body{
    background: rgb(66,69,73); 
    background: radial-gradient(circle, rgba(66,69,73,1) 0%, rgba(30,33,36,1) 100%);  
}


form{
    display: grid; 
    grid-template-columns: auto; 
    column-gap: 10px; 
    row-gap:10px; 
    margin-left: 30%; 
    margin-right: 30%; 
    margin-top: 30px;  
    padding: 100px 30px 40px 30px; 
    border-radius: 2%; 
    background-color: whitesmoke;
}